<div class="profile">

	<!-- Tab Structure -->

	<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s12 m2 l2"><a class="active" href="#test1">OverView</a></li>
        <li class="tab col s12 m2 l2" ng-click="grabProperty()"><a href="#test2">Rooms</a></li>
        <li class="tab col s12 m2 l2"><a href="#test3">Warranties</a></li>
        <li class="tab col s12 m2 l2"><a href="#test4">Contacts</a></li>
        <li class="tab col s12 m2 l2"><a href="#test5">Items</a></li>
      </ul>
    </div>

    <!-- Overview Tab -->

    <div id="test1" class=" row overview col s12">
			<div class="overview row">
				<div class="home-img col s12 m6 l3">
					<!-- <h1 class="flow-text">Add A picture of your home!</h1> -->
					<img class="responsive-img" src="{{ houseImg.large }}">
				</div>
				<div class="house-info col s12 m6 l6">
					<table>
		        <thead>
		          <tr>
		              <th data-field="id">Title</th>
		              <th data-field="name">Description</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr>
		            <td>Total Rooms</td>
		            <td>{{ mainProp.actual_rooms }}</td>
		          </tr>
		          <tr>
		          	<td>Bedrooms</td>
		            <td>{{ mainProp.bedrooms }}</td>
		          <tr>
		          	<td>Bathrooms</td>
		            <td>{{ mainProp.bathrooms }}</td>
		          </tr>
		          <tr>
		          	<td>Sqft</td>
		            <td>{{ mainProp.sqft }}</td>
		          </tr>
		          <tr>
		          	<td>Year Built</td>
		            <td>{{ mainProp.yearbuilt }}</td>
		          </tr>
		        </tbody>
		      </table>
				</div>
			</div>
			<form class=" upld-pic col s12 m3 l3" ng-submit="upload()">
  			<input type="file" id="file-select" name="photo"/>
  			<button type="submit">Upload</button>
			</form>
    </div>

    <!-- Rooms Tab -->

    <div id="test2" class="rooms row col s12">
    	<ul class="row col l4 m4 s12 rooms-list">
    		<li class="col l12 m12 s12" ng-repeat="room in rooms" ng-click="displaySingle(room)"> {{room.name}} 
    			<i class="mdi-content-remove-circle" ng-controller="RoomsController" ng-click="dltRoom(room.id)"></i>
    		</li>
				<li class="addrm col l12 m12 s12" ng-click="modal2()">Add A Room</li>
    	</ul>
    	<div class="roomInfo col l7 m6 s12 offset-l1" ng-model="singRoom">
    		<h5>{{singRoom.name}} <i class="mdi-editor-border-color" > Edit Room</i></h5>
		  	<table>
	        <thead>
	          <tr>
	              <th data-field="id">Title</th>
	              <th data-field="name">Description</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <td>Sqaurefeet</td>
	            <td>{{ singRoom.sqft }}</td>
	          </tr>
	          <tr>
	          	<td>Flooring Type</td>
	            <td>{{ singRoom.flooring_type }}</td>
	          </tr>
	          <tr>
	          	<td>Paint Color</td>
	            <td>{{ singRoom.paint_color }}</td>
	          </tr>
	          <tr>
	          	<td>Dimensions</td>
	            <td>{{ singRoom.dimensions }}</td>
	          </tr>
	        </tbody>
	      </table> 
		  </div>
		  <h5 class="col l7 m6 s12 offset-l1">{{singRoom.name}} Items 
		  	<i class="mdi-content-add" ng-click="modal3(singRoom.id)">Add Item</i>
		  </h5>
		  <div class="roomItems col l7 m6 s12 offset-l1" ng-repeat="item in roomItems">
		  	<ul>
		  		<li>
		  			{{item.name}}
		  		</li>
		  	</ul>
		  </div>
		</div>


    <!-- Warranty Tab -->

    <div id="test3" class="warranty col s12">
			<h1 class="flow-text">Your Warranties</h1>
			<input class="col s12 m6 l3" type="text" ng-model="searchText" placeholder="Search Warranties">
    </div>

    <!-- Contacts Tab -->

    <div id="test4" class="contact col s12">
			<h1 class="flow-text">Your Contacts</h1>
			<input class="col s12 m6 l3" type="text" ng-model="searchText" placeholder="Search Contacts">
			<a class="col s12 m12 l12" href="">Add A Contact</a>
			<div class="row">
        <div class=" c-card col s12 m3 l3">
          <div class="card white darken-1">
            <div class="card-content black-text">
              <span class="card-title">Contact Card</span>
              <p>This is a sample of what your contact card will look like. Once you started adding contacts they will populate like this.</p>
            </div>
            <div class="card-action">
              <a href="#">Call</a>
              <a href='#'>Email</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


		<!-- Add Room Modal Structure -->

    <div id="modal2" class="modal" ng-controller="RoomsController">
      <div class="modal-content">
        <h2>Add A Room</h2>
        <form ng-submit="addRoom(rm)">
          <div class="row">
            <div class="input-field col s6">
              <i class="mdi-action-account-circle prefix"></i>
              <input ng-model="rm.name" id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Room Name</label>
            </div>
            <div class="input-field col s6">
              <i class="mdi-action-account-circle prefix"></i>
              <input ng-model="rm.sqft" id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Square Footage</label>
            </div>
            <div class="input-field col s6">
              <i class="mdi-action-account-circle prefix"></i>
              <input ng-model="rm.dimensions" id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Dimensions</label>
            </div>
            <div class="input-field col s6">
              <i class="mdi-action-account-circle prefix"></i>
              <input ng-model="rm.flooring_type" id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Floor Type</label>
            </div>
            <div class="input-field col s6">
              <i class="mdi-action-account-circle prefix"></i>
              <input ng-model="rm.wall_type" id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Wall Type</label>
            </div>
            <div class="input-field col s6">
              <i class="mdi-action-account-circle prefix"></i>
              <input ng-model="rm.paint_color" id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Paint Color</label>
            </div>
          </div>           
          <button>Add Room</button></br>
          <small>You can leave any of the above items blank except the name!</small>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#/add-your-address" class="waves-effect waves-green btn-flat modal-action modal-close">I'm done</a>
      </div>
    </div>

		<!-- Add Items Modal Structure -->

    <div id="modal3" class="modal" ng-controller="RoomsController">
      <div class="modal-content">
        <h2>Add Item to Room</h2>
        <form ng-submit="addItem(item, roomId)">
          <div class="row">
            <div class="input-field col s4">
              <i class="mdi-action-account-circle prefix"></i>
              <input ng-model="item.name" id="icon_prefix" type="text">
              <label for="icon_prefix">Item Name</label>
            </div>
            <div class="input-field col s4">
              <i class="mdi-action-account-circle prefix"></i>
              <input ng-model="item.serial_number" id="icon_prefix" type="text">
              <label for="icon_prefix">Serial Number</label>
            </div>
            <div class="input-field col s4">
              <i class="mdi-action-account-circle prefix"></i>
              <input ng-model="item.price" id="icon_prefix" type="text">
              <label for="icon_prefix">Price</label>
            </div>
            <div class="input-field col s4">
            	<h6>Purchase Date</h6>
							<input ng-model="item.purchase_date" type="date" class="datepicker">
            </div>
            <div class="input-field row col s6">
            	<h6>Category</h6>
							<p class="col s3">
						    <input name="group1" type="radio" id="test1" />
						    <label for="test1">Appliance</label>
						  </p>
						  <p class="col s3">
						    <input name="group1" type="radio" id="test2" />
						    <label for="test2">Antique</label>
						  </p>
						  <p class="col s3">
						    <input name="group1" type="radio" id="test3"  />
						    <label for="test3">Furniture</label>
						  </p class="col s3">
						    <p>
						      <input name="group1" type="radio" id="test4" />
						      <label for="test4">Electronic</label>
						  </p>
            </div>
          </div>           
          <button>Add Item</button></br>
          <small>You can leave any of the above items blank except the name!</small>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#/add-your-address" class="waves-effect waves-green btn-flat modal-action modal-close">I'm done</a>
      </div>
    </div>