<div class="input-address">
	<h1>Input your address below so we can gather some info about your home for you!</h1>
	<form ng-submit="submitAddress(user)" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <i class="mdi-action-account-circle prefix"></i>
        <input ng-model="user.street_address" id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">Street</label>
      </div>
      <div class="input-field col s6">
        <i class="mdi-action-lock prefix"></i>
        <input ng-model="user.city" id="icon_telephone" type="text" class="validate">
        <label for="icon_telephone">City</label>
      </div>
      <div class="input-field col s6">
        <i class="mdi-action-lock prefix"></i>
        <input ng-model="user.state" id="icon_telephone" type="text" class="validate" maxlength="2">
        <label for="icon_telephone">State (GA)</label>
      </div>
      <div class="input-field col s6">
        <i class="mdi-action-lock prefix"></i>
        <input ng-model="user.zipcode" id="icon_telephone" type="text" class="validate">
        <label for="icon_telephone">Zip Code</label>
     	</div>
   	</div>
   	<button id="reg" class="waves-effect waves-light btn-large"><i class="mdi-file-cloud left"></i>Submit</button>
  </form>
</div>