<div class="register">
	<h1>Fill out the information below to register with DwellingKit!</h1>
	<form ng-submit="registerUser(user)">
		<div class="row collapse">
	    <div class="small-3 large-2 columns">
	      <span class="prefix">Email</span>
	    </div>
	    <div class="small-9 large-10 columns">
	      <input ng-model="user.email" type="text" placeholder="dwellingkitRocks@gmail.com">
	    </div>
  	</div>
  	<div class="row collapse">
	    <div class="small-3 large-2 columns">
	      <span class="prefix">Password</span>
	    </div>
	    <div class="small-9 large-10 columns">
	      <input ng-model="user.password" type="password" placeholder="johndwells065">
	    </div>
  	</div>
  	<div class="row collapse">
	    <div class="small-3 large-2 columns">
	      <span class="prefix">Confirm Pass</span>
	    </div>
	    <div class="small-9 large-10 columns">
	      <input ng-model="user.password_confirmation" type="password" placeholder="johndwells065">
	    </div>
  	</div>
  	<div class="row collapse">
	    <div class="small-3 large-2 columns">
	      <span class="prefix">Address</span>
	    </div>
	    <div class="small-9 large-10 columns">
	      <input type="text" placeholder="6456 Dwelling Street Atlanta, GA 30319">
	    </div>
  	</div>
		<button>Register</button>
	</form>
	<small>Already have an account? <a href="#/login">Login</a></small>
</div>